.activity-list {
	list-style: none;
	padding: 0;
}

.activity-list__item {
	cursor: pointer;
	display: block;
	float: none !important;
	margin: 5px 0;

	&.active {
		font-weight: 300;

		strong {
			font-weight: 300;
		}

		.activity-distance {
			color: #eee;
		}
	}
}

.activity-actions {
	margin: 20px 0;
}

.activity-date,
.activity-type,
.activity-distance {
	display: inline-block;
	vertical-align: baseline;
}

.activity-date {
	font-size: 0.8em;
}
.activity-type {
	text-transform: capitalize;
}
.activity-distance {
	color: #999;
	display: block;
	font-size: 0.8em;

	&:after {
		content: "km";
	}
}

.activity-detail h2 {
	text-align: center;
}
