.profile-header .nav-pills {
	>li>a {
		margin-right: 10px;
		min-width: 120px;
		padding: 10px 20px;
	}
	.icon {
		font-size: 1.4em;
	}
	.title {
		display: block;
	}
}

.header-nav {
	.icon {
		font-size: 1.4em;
		margin-right: 10px;
	}
}