body {
    margin-top: 80px;
}

form .requiredField:after {
    content: " *";
}

form .has-error p {
    color: #A94442;
    margin: 10px 0;
}

.activity-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.activity-list__item {
    cursor: pointer;
    padding: 5px 0;
}

.activity-list__item:hover {
    color: #2A6496;
}

.activity-date,
.activity-type,
.activity-distance {
    display: inline-block;
    vertical-align: baseline;
}

.activity-date {
    font-size: 0.8em;
}
.activity-type {
    font-size: 1.2em;
    text-transform: capitalize;
}
.activity-distance {
    color: #999;
    font-size: 0.8em;
    margin-left: 8px;
}
.activity-distance:after {
    content: "km";
}

.activity-actions {
    min-height: 20px;
}

.activity-actions a {
    display: none;
    margin-left: 10px;
}

.activity-list__item:hover .activity-actions a {
    display: inline-block;
}

.activity-detail h2 {
    text-align: center;
}