body {
  margin-top: 80px; }

p.error-message {
  color: #A94442;
  margin: 10px 0; }

.form-control .ng-invalid {
  border-color: #A94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.section-title {
  color: #888;
  display: block;
  font-size: 1.4em;
  margin-bottom: 10px;
  text-transform: uppercase; }

.subsection-title {
  display: block;
  font-size: 1.2em;
  font-weight: 700; }

.nav-pills > li > a {
  margin-right: 10px;
  min-width: 120px;
  padding: 10px 20px; }
.nav-pills .glyphicon {
  font-size: 1.4em; }
.nav-pills .title {
  display: block; }

.stats-list {
  list-style: none;
  padding-left: 0; }
  .stats-list li {
    margin-bottom: 5px; }

.stat-title {
  color: #888;
  text-transform: uppercase; }

.activity-list {
  display: inline-block;
  list-style: none;
  padding: 0; }

.activity-list__item {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px; }
  .activity-list__item:hover {
    color: #2A6496; }

.activity-list__item--is-active {
  background-color: #428BCA;
  color: #fff;
  font-weight: 300;
  border-radius: 4px; }
  .activity-list__item--is-active strong {
    font-weight: 300; }
  .activity-list__item--is-active .activity-distance {
    color: #eee; }
  .activity-list__item--is-active:hover {
    color: #fff; }

.activity-date,
.activity-type,
.activity-distance {
  display: inline-block;
  vertical-align: baseline; }

.activity-date {
  font-size: 0.8em; }

.activity-type {
  font-size: 1.2em;
  text-transform: capitalize; }

.activity-distance {
  color: #999;
  font-size: 0.8em;
  margin-left: 8px; }
  .activity-distance:after {
    content: "km"; }

.activity-detail h2 {
  text-align: center; }
