{% extends 'public/index.html' %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bar-chart.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>Activity list - {{ month }}</h1>
    <div class="btn-group pull-right">
        <a class="btn btn-default" href="{% url 'public:activity_list' %}?date={{ previous_month }}">Previous Month</a>
        {% if next_month %}
            <a class="btn btn-default" href="{% url 'public:activity_list' %}?date={{ next_month }}">Next Month</a>
        {% endif %}
    </div>
    <p><a href="{% url 'public:create_activity' %}">Register a new activity</a></p>

    {% include 'public/graphs/bar_chart.html' %}

    <ul>
        {% for activity in activity_list %}
        <li>
            {{ activity }}
            <a class="btn btn-default btn-xs" href="{% url 'public:update_activity' activity.pk %}">Update</a>
            <a class="btn btn-danger btn-xs" href="{% url 'public:delete_activity' activity.pk %}">Delete</a>
            <a href="{% url 'public:detail_activity' activity.pk %}">See details</a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/bar-chart.js' %}"></script>
{% endblock extra_js %}