{% extends 'public/index.html' %}
{% load crispy_forms_tags %}
{% load format %}

{% block content %}
    <h1>Activity from {{ activity.date }}</h1>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Type:</strong> {{ activity.activity_type }}</p>
            <p><strong>Distance:</strong> {{ activity.distance }}km</p>
            <p><strong>Calories:</strong> {{ activity.calories }}kcal</p>
        </div>
        <div class="col-md-6">
            <p><strong>Start time:</strong> {{ activity.start_time }}</p>
            <p><strong>Duration:</strong> {{ activity.duration|format_time }}</p>
            <p><strong>Notes:</strong> {{ activity.notes }}</p>
        </div>
    </div>

{% endblock content %}
