<div class="row">
    <div class="col-sm-3 text-right">
        <strong>Last activities</strong>

        <ul class="activity-list">
            <li ng-repeat="activity in activities"
                ng-click="showDetail([[activity.id]])"
                ng-class="{'activity-list__item--is-active': isActivitySelected(activity)}"
                class="activity-list__item">
                <strong ng-bind="activity.date" class="activity-date"></strong>
                <span ng-bind="activity.activityType" class="activity-type"></span>
                <span ng-bind="activity.getDistance()" class="activity-distance"></span>
            </li>
        </ul>
    </div>

    <div class="col-sm-9 activity-detail">
        <h2 ng-show="selectedActivity === null">No activity selected</h2>
        <div ng-show="selectedActivity !== null">
            <p><strong>Activity type: </strong><span ng-bind="selectedActivity.activityType"></span></p>
            <p><strong>Calories: </strong><span ng-bind="selectedActivity.calories"></span></p>
            <p><strong>Date: </strong><span ng-bind="selectedActivity.date"></span></p>
            <p><strong>Distance: </strong><span ng-bind="selectedActivity.getDistance()"></span>km</p>
            <p><strong>Start time: </strong><span ng-bind="selectedActivity.startTime"></span></p>
            <p><strong>Duration: </strong><span ng-bind="selectedActivity.duration"></span></p>
            <p><strong>Activity notes: </strong><span ng-bind="selectedActivity.activityNotes"></span></p>
            <div class="activity-actions">
                <a class="btn btn-default" ng-click="updateActivity([[selectedActivity.id]])">Edit</a>
                <a class="btn btn-danger" ng-click="deleteActivity([[selectedActivity.id]])">Delete</a>
            </div>
        </div>
    </div>
</div>