<div class="row">
    <div class="col-sm-3">
        <span class="section-title">Dashboard</span>

        <span class="subsection-title">Info</span>
        <p>Some info here</p>

        <span class="subsection-title">Stats</span>
        <ul class="stats-list">
            <li ng-repeat="stat in stats">
                <div class="stat-title" ng-bind="stat.title"></div>
                <div class="stat-value" ng-bind="stat.value"></div>
            </li>
        </ul>
    </div>

    <div class="col-sm-9 activity-detail">

        <div class="btn-group mode-selector">
            <button class="btn btn-default"
                    ng-class="{'active': selectedMode === 'month'}"
                    ng-checked="selectedMode === 'month'"
                    ng-click="changeMode('month')">
                Month view
            </button>
            <button class="btn btn-default"
                    ng-class="{'active': selectedMode === 'year'}"
                    ng-checked="selectedMode === 'year'"
                    ng-click="changeMode('year')">
                Year view
            </button>
        </div>

        <div class="text-right date-selector">
            <span class="current-date" ng-bind="getCurrentDate()"></span>
            <div class="btn-group">
                <button type="button"
                        class="btn btn-default"
                        ng-click="navigateDate('previous')">
                    <span class="fa fa-chevron-left"></span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-disabled="isCurrentDate()"
                        ng-click="navigateDate()">
                    <span ng-bind="currentModeHumanized()"></span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-disabled="isCurrentDate()"
                        ng-click="navigateDate('next')">
                    <span class="fa fa-chevron-right"></span>
                </button>
            </div>
        </div>

        <div bar-chart
             title="Distance"
             property="distance"
             y-axis="Kilometers"
             column-units="Km"
             models="activities"></div>

        <div bar-chart
             title="Duration"
             property="duration"
             y-axis="hh:mm:ss"
             column-units="Time"
             format="duration"
             models="activities"></div>

        <div bar-chart
             title="Calories"
             property="calories"
             y-axis="calories"
             column-units="kcal"
             models="activities"></div>
    </div>
</div>