{% extends 'public/base.html' %}

{% block content %}
    <h1>Activity list</h1>
    <p><a href="{% url 'public:create_activity' %}">Add an activity</a></p>
    <ul>
        {% for activity in activity_list %}
        <li>
            {{ activity }}
            <a class="btn btn-default btn-xs" href="{% url 'public:update_activity' activity.pk %}">Update</a>
            <a class="btn btn-danger btn-xs" href="{% url 'public:delete_activity' activity.pk %}">Delete</a>
            <a href="{% url 'public:detail_activity' activity.pk %}">See details</a>
        </li>
        {% endfor %}
    </ul>

    <h3>Add some graphs here?</h3>
{% endblock content %}